<ion-header>
  <ion-toolbar>
    <ion-title>Decoration Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img src="../../assets/decor1.PNG" />
    </ion-card-header>

    <ion-card-content>
      <p class="date">17th July, 2020</p>
      <h2 class="eventname"> Mini set up for Couples </h2>
      <p class="location"><ion-icon name="location"></ion-icon>Midrand,Ebony</p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img src="../../assets/decor2.PNG" />
    </ion-card-header>

    <ion-card-content>
      <p class="date">17th July, 2020</p>
      <h2 class="eventname"> Mini set up for Couples </h2>
      <p class="location"><ion-icon name="location"></ion-icon>Midrand,Ebony</p>

    </ion-card-content>
  </ion-card>
  
  
</ion-content>
