
    ion-toolbar {
        --background: transparent;
      
       
    }
    ion-content {
              
        --background: rgba(237, 242, 245, .8);
      
        .back-blob {
          z-index: -1;
          width: 600px;
          position: absolute;
          left: -50%;
          top: 0;
        }
        ion-card-content{
            background: rgba(237, 242, 245, .8);
        }
    }
