<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- <ion-searchbar showcancelbutton=""  [formControl]="searchControl"></ion-searchbar>  -->

  <ion-card >
    <img src="../../assets/img/decor2.PNG">
    <ion-card-header>
      <ion-card-subtitle>Decor</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="dark" style="float: right; margin-bottom: 10px;"   routerLink='/welcome'>Request...</ion-button>
  </ion-card>

            <ion-item>
              <ion-icon name="remove" slot="start"></ion-icon>
              <ion-label>{{category.name}}</ion-label>
            </ion-item>

            
            <ion-item>
              <ion-icon name="remove" slot="start"></ion-icon>
              <ion-label>{{category.description}}</ion-label>
            </ion-item>
          </ion-card-content>
          <ion-button color="dark" style="float: right;" routerLink='/welcome' >Request<ion-icon ></ion-icon></ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>