<ion-header>
  <ion-toolbar>
    <ion-title>Equipments Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img src="../../assets/equip1.PNG" />
    </ion-card-header>

    <ion-card-content>
      
      <h2 class="eventname"> Tiffany chairs  </h2>
      <p class="location">Wooden Style</p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img src="../../assets/equip2.PNG" />
    </ion-card-header>

    <ion-card-content>
      <p class="date">Backdrop</p>
      <h2 class="eventname">Round floral backdrop </h2>
      

    </ion-card-content>
  </ion-card>


<!--   
</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="ion-no-padding">
    <img src="../../assets/equip2.PNG" />
  </ion-card-header>

  <ion-card-content>
    <p class="date">Couch</p>
    <h2 class="eventname">white suede Couch</h2>
    

  </ion-card-content>
</ion-card> -->
  
  
</ion-content>
