<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>

    <form [formGroup]="contactForm">
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select formControlName="category">
          <ion-select-option value="Food">Food</ion-select-option>
          <ion-select-option value="Decor">Decor</ion-select-option>
          <ion-select-option value="Equipment">Equipment</ion-select-option>
        </ion-select>
        <!-- <ion-input type="text" formControlName="category" placeholder="Category"></ion-input> -->
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="address" placeholder="Address..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Event type</ion-label>
        <ion-select formControlName="eventType">
          <ion-select-option value="Wedding">Wedding</ion-select-option>
          <ion-select-option value="Birthday">Birthday</ion-select-option>
          <ion-select-option value="Year end Function">Year End Function</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="message" placeholder="Message..." style="height: 100px;"></ion-textarea>
      </ion-item>

      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button type="submit" (click)="onSubmit(category)">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </ion-card>
</ion-content>